body {
    background-image: url("/imagens/van-halen.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}

.flexbox-container {        
    background-color: white;
    width: 400px;
    padding: 40px;
    font-family: 'Courier New', Courier, monospace;
    opacity: 90%;
    border-radius: 50px;    
}

button {
    border-radius: 50px;
    width: 200px;
    padding: 10px;        
}

button:hover {
    background-color: gray;
}

a, a:visited {
    font-size: 15px;
    text-decoration: none;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}